<h1> Bloc - GitHub Trends </h1>
<h3> Stats </h3>
<ul>
  <li> <b>Indexed Repositories:</b> <%= @total_indexed_count %> </li>
  <li> <b>Updated Repositories:</b> <%= @fresh_count %> </li>
</ul>

<div id="chart"></div>
<h3> Charts </h3>
<ul>
  <li><a href="/repositories/1">Repos by Year Created </a></li>
  <li><a href="/repositories/1?language=Ruby">Repos by Year Created (Ruby)</a></li>
  <li><a href="/repositories/1?language=JavaScript">Repos by Year Created (JavaScript)</a></li>
</ul>

<h3> Recently Updated Repositories </h3>

<table>
  <th> Github ID </th>
  <th> Name </th>
  <th> Owner </th>
  <th> Description </th>
  <th> Fork? </th>
  <th> Created </th>
  <th> Watchers </th>
  <th> Subscribers </th>
  <th> Forks </th>
  <th> Open Issues </th>
  <th> Network </th>
  <th> Language </th>
  <th> Size <th>
  <% @repositories.each do |repo| %>
    <tr>
      <td><%= repo.github_id %></td>
      <td><%= repo.name %></td>
      <td><%= repo.owner %></td>
      <td><%= repo.description %></td>
      <td><%= repo.fork %></td>
      <td><%= repo.created_at %></td>
      <td><%= repo.watchers_count %></td>
      <td><%= repo.subscribers_count %> </td>
      <td><%= repo.forks %></td>
      <td><%= repo.open_issues_count %></td>
      <td><%= repo.network_count %></td>
      <td><%= repo.language %></td>
      <td><%= repo.size %><td>
    </tr>
  <% end %>
</table>

<script>
  window.Trends = {};

  $(function() {
    var chart = new Highcharts.Chart({
        colors: ["#7cb5ec", "#f7a35c"],
        chart: {
            type: 'column',
            renderTo: 'chart'
        },
        title: {
          style: {
            display: 'none'
          }
        },
        plotOptions: {
          column: {
            dataLabels: {
              enabled: true
            }
          }
        },
        xAxis: {
          type: 'datetime',
          categories: gon.years
        },
        series: gon.series
    });
  });
</script>
