<h1> <%= @repositories.length%> Repositories, yo </h1>

<table>
  <th> Name </th>
  <th> Full Name </th>
  <th> Description </th>
  <th> Fork? </th>
  <% @repositories.each do |repo| %>
    <tr>
      <td><%= repo.name %></td>
      <td><%= repo.full_name %></td>
      <td><%= repo.description %></td>
      <td><%= repo.fork %></td>
    </tr>
  <% end %>
</table>
